{% extends 'base.html' %}

{% block content %}
    <h1 class="display-1">{% block title %} Home {% endblock %}</h1>

    <p class="fw-bold">Bold text.</p>
    <p class="fw-bolder">Bolder weight text (relative to the parent element).</p>
    <p class="fw-semibold">Semibold weight text.</p>
    <p class="fw-medium">Medium weight text.</p>
    <p class="fw-normal">Normal weight text.</p>
    <p class="fw-light">Light weight text.</p>
    <p class="fw-lighter">Lighter weight text (relative to the parent element).</p>
    <p class="fst-italic">Italic text.</p>
    <p class="fst-normal">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et sem nec nisi lacinia tempor. Mauris aliquam in lacus id faucibus. Donec euismod tincidunt metus, ac tempus augue. Duis tortor est, tempor eu mattis gravida, pharetra non turpis. Aenean blandit a nisi vel tempor. Praesent at libero gravida, ultricies nisi at, tempor lectus. Pellentesque vestibulum a nunc a eleifend. Donec varius, erat at venenatis congue, leo sapien posuere quam, sit amet viverra velit eros vel nisl.
    </p>
    <br>
    <p class="fst-normal">
        Donec vehicula ornare est nec fringilla. Nam eleifend ultricies ante sit amet convallis. In vitae elit quis magna volutpat luctus in sit amet nunc. Mauris at nisi quis lorem consequat porttitor sed sit amet ex. Donec convallis augue non nibh lacinia rutrum. Nullam nec congue massa, a varius odio. Cras est ligula, dictum at ornare a, congue non enim. Nunc faucibus erat vitae elit interdum, et malesuada urna pellentesque. Mauris molestie mi leo, vel laoreet enim commodo a. Morbi facilisis, felis in tincidunt fermentum, sapien leo condimentum nisl, vitae ornare enim magna aliquam purus. Integer tempus, lectus ut convallis sollicitudin, ipsum est elementum ante, sit amet ultricies nibh dui sit amet diam. Morbi sit amet sem ac quam tincidunt fermentum et non elit. Praesent vitae dapibus enim. Aenean a aliquam felis. Maecenas et tempor est, at pretium nisl. Donec laoreet vitae risus at malesuada.
    </p>
    <br>
    <p class="fst-normal">
        In vitae sapien vel magna euismod molestie non eget nulla. Morbi pulvinar, nisi nec luctus luctus, risus augue porta arcu, ut euismod nisl nisi vel enim. Nunc vel convallis mauris. Morbi laoreet nulla at ligula commodo, pretium facilisis risus dapibus. Cras sit amet sapien volutpat urna feugiat luctus vitae nec arcu. Ut pellentesque, orci vel euismod tempor, arcu velit malesuada sapien, ac fermentum libero neque a odio. Donec lacus nibh, pellentesque id ante id, iaculis fringilla nibh. Curabitur accumsan nunc dignissim mi eleifend, et gravida nisl scelerisque. Quisque eu lacus nunc. Morbi augue augue, molestie a maximus sed, convallis vitae enim.
    </p>
    <br>
    <p class="fst-normal">
        Fusce volutpat gravida accumsan. Proin non ultricies nibh. Phasellus ultrices justo ut ex condimentum, et dictum risus feugiat. In ornare eros in arcu mollis mollis. Morbi pellentesque eleifend nibh, et egestas augue congue aliquet. Suspendisse potenti. Quisque venenatis magna in bibendum finibus. Fusce vel libero iaculis, maximus nulla eu, tempus tellus. Sed et arcu sed turpis aliquet volutpat at ac tortor. Sed pellentesque dictum rhoncus. Nullam faucibus, sem vitae cursus sodales, dolor velit efficitur dolor, eu elementum neque quam ut tortor. Maecenas lobortis ex eget mauris lobortis suscipit. Nam egestas risus ac scelerisque consectetur. Praesent pharetra interdum eros, id hendrerit justo mattis sit amet. Donec non nibh vitae tortor iaculis volutpat sit amet ut leo.
    </p>
    <br>
    <p class="fst-normal">
        Morbi pharetra venenatis tincidunt. Praesent eget fermentum lacus. Ut eget eros mauris. Nam ullamcorper vehicula accumsan. Duis ac felis consequat, scelerisque ex et, molestie lectus. Nulla facilisi. Mauris tristique lorem at eros euismod vestibulum. Nulla mattis sem in dolor fermentum, ac placerat est vehicula. Nam non leo dui. Sed facilisis purus non mi eleifend consectetur. Aliquam suscipit euismod augue a suscipit. Nam eget enim in enim dignissim luctus. Vestibulum eu pellentesque leo. Integer pellentesque laoreet erat quis posuere. Vestibulum tempor, augue in sagittis vulputate, nisi odio finibus dui, non mattis libero mi a ligula.
    </p>

{% endblock %}
